<a href="/list/recipe/" title="recipes" class="closedMenu"><span class="dish icons blueBorder colorBlue"></span></a>

<a href="/list/ingredient/" title="ingredients" class="closedMenu"><span class="ingredients icons blueBorder colorBlue"></span></a>

<a href="/list/technique/" title="cooking techniques" class="closedMenu"><span class="cook icons blueBorder colorBlue"></span></a>

<a href="/list/chef/" title="list of chefs" class="closedMenu"><span class="general icons blueBorder colorBlue"></span></a>