<a href="/diary/" class="closedMenu"><span class="icons diary greenBorder colorGreen"></span></a>

<a href="/list/story/" class="closedMenu"><span class="icons laika blueBorder colorBlue"></span></a>

<a href="/list/food/" title="main page" class="closedMenu"><span class="foodDiary icons blueBorder colorBlue"></span></a>

<a href="/list/period/" title="main page" class="closedMenu"><span class="men icons blueBorder colorBlue"></span></a>

<a href="/list/bio/" title="main page" class="closedMenu"><span class="bioDiary icons blueBorder colorBlue"></span></a>

<a href="/list/stool/" title="main page" class="closedMenu"><span class="poo icons blueBorder colorBlue"></span></a>

<a title="main page" class="closedMenu" href="/list/measurments/"><span class="measurments icons pinkBorder colorPink"></span></a>
