<a href="/list/note/" title="notes" class="closedMenu"><span class="notes icons blueBorder colorBlue"></span></a>

<a href="/list/flash/" class="closedMenu"><span class="icons fcards blueBorder colorBlue"></span></a>

<a href="/study/" class="closedMenu"><span class="icons study blueBorder colorBlue"></span></a>