<a href="/list/shopping/" title="shopping list" class="closedMenu"><span class="icons task blueBorder colorBlue landingHide"></span></a>

<a href="/list/item/" title="shopping app" class="closedMenu"><span class="icons shop blueBorder colorBlue landingHide"></span></a>

<a href="/list/store/" title="stores" class="closedMenu"><span class="store icons blueBorder colorBlue"></span></a>