{{> mains/edit/partials/datalists}}

{{> navs/jumpTo}}

<form id="{{data._id}}">
  {{> mains/edit/partials/main/time}}

  {{> mains/edit/partials/main}}

  {{> mains/edit/partials/miscellaneous}}

  {{> mains/edit/partials/steps}}
  
  {{> mains/edit/partials/store}}

  {{> mains/edit/partials/keepFor}}
  
  {{> mains/edit/partials/location}}

  {{> mains/edit/partials/related}}

  {{> mains/edit/partials/notes}}

  {{> mains/edit/partials/submit}}
</form>