<a title="menu"><span class="icons list"></span></a>



<a href="/list/recipe/" title="cookbook" class="closedMenu"><span class="icons cookbook"></span></a>

<a href="/list/shopping/" title="shopping" class="closedMenu"><span class="icons shop"></span></a>

<a href="/diary/" title="diary" class="closedMenu"><span class="icons diary"></span></a>

{{!-- <a href="/flash/" title="flashcards" class="closedMenu"><span class="icons fcards"></span></a> --}}

<a href="/list/note/" title="notes" class="closedMenu"><span class="notes icons"></span></a>

<a href="/list/kanban/" title="kanban" class="closedMenu"><span class="kanban icons"> </span></a>

<a href="/list/monitor/" title="monitor" class="closedMenu"><span class="icons monitor"></span></a>

<a href="/add/minder/" class="closedMenu"><span class="icons clock blueBorder colorBlue"></span></a>


<a title="run tone tape" class="closedMenu toneTape">
  <span class="tape icons"></span>
</a>