{{#eq dom 'diary'}}
  <div class="quickAddDiary">
    <form class="qdiary" method="POST" action="/diary/submit/stool" title="save poo">
      <button type="submit" class="icons stool"></button>
    </form>

    <form class="qdiary" method="POST" action="/diary/submit/period" title="save period">
      <button type="submit" class="icons men"></button>
    </form>

    <form class="qdiary" method="POST" action="/diary/submit/headache" title="save headache">
      <button type="submit" class="icons hAche"></button>
    </form>

    <form class="qdiary" method="POST" action="/diary/submit/jointache" title="save jointache">
      <button type="submit" class="icons jAche"></button>
    </form>

    <form class="qdiary" method="POST" action="/diary/submit/chestache" title="save chestache">
      <button type="submit" class="icons cAche"></button>
    </form>

    <form class="qdiary" method="POST" action="/diary/submit/bellyache" title="save bellyache">
      <button type="submit" class="icons bAche"></button>
    </form>

    <form class="qdiary" method="POST" action="/diary/submit/backache" title="save backache">
      <button type="submit" class="icons lbFAche"></button>
    </form>

    <form class="qdiary" method="POST" action="/diary/submit/shivers" title="save shivers">
      <button type="submit" class="icons baad"></button>
    </form>

    <form class="qdiary" method="POST" action="/diary/submit/cramp" title="save cramp">
      <button type="submit" class="icons cramp"></button>
    </form>

    <form class="qdiary" method="POST" action="/diary/submit/drank" title="save drank">
      <button type="submit" class="icons drank"></button>
    </form>

    <form class="loadQMeasurments" title="save measurments">
      <button type="submit" class="icons measurments"></button>
    </form>
  </div>
{{/eq}}