<div class="listAll my{{dom}}">
  <nav class="mainNav">
    {{> navs/main}}

    {{> navs/mains/list}}
  </nav>

  <h1>My {{dom}}s</h1>

  {{> navs/submenu/quickDiary}}

  {{> features/diary/fooddiary}}

  {{> features/diary/todaysCalendar}}

  {{> features/diary/diarySplit}}

  {{> features/diary/measurments}}

</div>

<script src="/front/diary/start.js" type="module" defer></script>