<div class="showone showone{{dom}}">
  <nav class="mainNav">
    {{> navs/main}}

    {{> navs/mains/show}}

    {{> navs/additional}}
  </nav>

  {{> mains/show/partials/related}}

  {{> mains/show/partials/name}}

  {{> mains/show/partials/statuses}}

  {{> mains/show/partials/ingredientList}}

  {{> mains/show/partials/address}}

  {{!-- {{> mains/list/partials/displayGrid}} --}}

  {{> mains/show/partials/shortList}}

  {{> mains/show/partials/steps}}

  {{> mains/show/partials/study}}

  {{> mains/show/partials/notes}}
</div>

{{> mains/show/links}}

{{> mains/show/partials/shoppingList}}