  <input type="number" step="any" inputmode="numeric" id="duration" name="duration" value="{{duration}}">
  <div class="timeUnits {{#eq units.name "second"}}selectedUnit{{/eq}}" data-unit="second">s</div>
  <div class="timeUnits {{#eq units.name "minute"}}selectedUnit{{/eq}}" data-unit="minute">m</div>
  <div class="timeUnits {{#eq units.name "hour"}}selectedUnit{{/eq}}" data-unit="hour">h</div>
  <div class="timeUnits {{#eq units.name "day"}}selectedUnit{{/eq}}" data-unit="day">d</div>
  <div class="timeUnits {{#eq units.name "month"}}selectedUnit{{/eq}}" data-unit="month">M</div>
  <div class="timeUnits {{#eq units.name "year"}}selectedUnit{{/eq}}" data-unit="year">y</div>