<div class="ingrData hide">
  {{#each data.ingredients}}
    <div class="sIngr">
      <p class="ingredientName">{{ingredient.name}}</p>
      <p class="ingredientAmount">{{amount}}</p>
      <p class="ingredientUnit">{{unit.name}}</p>
      <p class="ingredientPicture">{{ingredient.picture}}</p>
    </div>
  {{/each}}
</div>
