{{!-- THISIS: BDAY --}}
{{#eq dom 'people'}}
  <div class="right">
    <label for="birthday">Birthday</label>

    <input type="date" id="cook" name="birthday" value="{{data.birthday}}" list="birthday">
  </div>
{{/eq}}