<div class="quickTimeWrapper">

  <div class="selectTimeRange">
    <button type="button" name="timeRange"  class="timeCards box number" data-minutes="5">5</button>
  </div>
  
  <div class="selectTimeRange">
    <button type="button" name="timeRange"  class="timeCards box number" data-minutes="15">15</button>
  </div>
  
  <div class="selectTimeRange">
    <button type="button" name="timeRange"  class="timeCards box number" data-minutes="30">30</button>
  </div>
  
  <div class="selectTimeRange">
    <button type="button" name="timeRange"  class="timeCards box number" data-minutes="60">60</button>
  </div>
</div>