{{!-- THISIS: SUBSET OF --}}
{{#eq dom 'recipe ingredient'}}
  <div class="right subsetInput secondThis">
    <label for="protein30">Protein, 30g</label>

    <input type="text" id="protein30" name="protein30" value="{{data.protein30}}" placeholder="30[g]">
  </div>
{{/eq}}